[user]
	name = TaigaMikami
	email = mikamimikami60@gmail.com
[color]
	ui = true
[core]
    excludesfile = /Users/mikamitaiga/.gitignore_global
[commit]
	template = ~/dotfiles/git/.gitmessage.txt
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/LayerXcom/"]
    insteadOf = https://github.com/LayerXcom/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
