# =============================================================================
# .gitconfig - Git Configuration
# =============================================================================

[user]
    name = {{ .name }}
    email = {{ .email }}

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[commit]
    template = ~/.gitmessage.txt

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

{{- if and .work .work_github_org }}
[url "ssh://git@github.com/{{ .work_github_org }}/"]
    insteadOf = https://github.com/{{ .work_github_org }}/
{{- end }}

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[ghq]
    root = ~/ghq

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = current

[wt]
    remover = trash

[alias]
    wl = worktree list
    wa = worktree add
    wr = worktree remove
    wp = worktree prune
