# =============================================================================
# .gitconfig - Git Configuration
# =============================================================================

[user]
    name = {{ if hasKey . "name" }}{{ .name }}{{ else }}TaigaMikami{{ end }}
    email = {{ if hasKey . "email" }}{{ .email }}{{ else }}mikamimikami60@gmail.com{{ end }}

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore_global

[commit]
    template = ~/.gitmessage.txt

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

{{- if (and (hasKey . "work") .work) }}
[url "ssh://git@github.com/LayerXcom/"]
    insteadOf = https://github.com/LayerXcom/
{{- end }}

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = current

[alias]
    wl = worktree list
    wa = worktree add
    wr = worktree remove
    wp = worktree prune
